@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 51, 57);
  }

  .logo {
    width: 5vw;
  }

  .nav__items > ul {
    display: flex;
    list-style-type: none;
  }

  .nav__items > ul > li {
    font-size: 1rem;
    padding: 1vw;
    color: white;
  }

  .login__button {
    width: 5rem;
    /* padding: 0px 15px ; */
    margin-right: 1.5rem;
  }

  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
  }

  .card__link {
    display: flex;
    max-width: 25%;
    min-height: 8vh;
  }

  .restaurant__card {
    border: 2px solid black;
    padding: 1vw 0 0 1vw;
    margin: 1vw;
  }

  .restaurant__image {
    width: 19vw;
    height: 25vw;
    object-fit: cover;
  }

  .credits {
    font-size: 0.3rem;
  }

  .shimmer__container {
    display: flex;
    flex-wrap: wrap;
  }

  .shimmer__card {
    max-width: 20%;
    height: 60vh;
    background-color: rgb(230, 230, 230);
    padding: 1vw 0 0 1vw;
    margin: 1vw;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 51, 57);
}

.logo {
  width: 5vw;
}

.nav__items > ul {
  display: flex;
  list-style-type: none;
}

.login__button {
  padding: 0px 15px;
  margin-right: 1.5rem;
}

.nav__items > ul > li {
  font-size: 1rem;
  padding: 1vw;
  color: white;
}

.restaurant__container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant__card {
  /* display: flex;
  flex-grow: 1;
  width: 90%; */
  min-height: 8vh;
  border: 2px solid black;
  padding: 1vw 1vw 0 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.restaurant__image {
  width: 100%;
  /* height: 50vw; */
  object-fit: cover;
}

.credits {
  font-size: 0.3rem;
}

.filter {
}

.shimmer__container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer__card {
  width: 98%;
  height: 60vh;
  background-color: rgb(230, 230, 230);
  padding: 1vw 1vw 0 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.search__container {
  margin-top: 1vh;
}

.search__input {
  padding: 1vh;
  border: 1px solid gray;
  border-radius: 5px;
}

.button {
  padding: 1vh;
  margin-left: 1vh;
  background-color: teal;
  border: 0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
